{% extends 'base.html' %}

{% block content %}
<h1 class="m-3 text-center">Welcome!</h1>
<p class="p-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, alias dolor. Doloribus, numquam rerum necessitatibus deleniti vel qui iusto maxime, in voluptate asperiores maiores hic adipisci id eveniet, consequuntur commodi.
Fuga magni quos quisquam! Laborum, vitae incidunt accusantium nemo iure rerum nobis ducimus dolorum aut quo a rem debitis, eligendi amet! Asperiores cumque tenetur numquam reiciendis, ut quibusdam! Iure, voluptatibus!
Nam rerum et temporibus molestiae id in, quia sed doloremque voluptatum optio minima ducimus eius enim velit sunt reiciendis suscipit quam cumque nobis adipisci odit. Sint nesciunt provident sit repellat.
Excepturi obcaecati sit consequuntur ad vel totam sed hic aspernatur inventore iure. Quibusdam expedita quasi facilis inventore cum sint pariatur eum sed vero, quod dolore iure perspiciatis consectetur adipisci! Perspiciatis!
Modi in, aliquam dignissimos architecto dolorum omnis dolores odio rerum quasi illo culpa iste vel assumenda laborum optio doloribus eum nam quos! Ex recusandae fugiat harum ratione id nesciunt aliquam?</p>
{% endblock %}