{% extends 'base.html' %}

{% block content %}
<h1 class="m-3 text-center">Welcome!</h1>
<p class="p-4">This is a simple tasks project where you can add all the tasks you need to complete, visualize, edit and delete them. You can also mark a task as completed and visualize all the tasks you have completed.</p>
<p>On the "All tasks" tab you can see a list of all the tasks that need to be completed. Tasks that are marked as Important will be set to red. You can click on any of the tasks to edit the title, the description, the importance, but also mark the task as completed or even delete the task.</p>
<p> On the "Completed Tasks" tab you can visualize all the tasks that have been completed.</p>
<p>On the last tab "Create Task", you can create a New Task.</p>
{% endblock %}