{% extends 'base.html' %}

{% block content %}
<h2 class="m-3 text-center">{{task.title}}</h2>
<div class="d-flex justify-content-center">
    <form action="", method="post">
        {% csrf_token %}
        {{form}}
        <button class="btn btn-primary">Save</button>
    </form>
</div>
<div class="m-3 d-flex justify-content-center">
    <form class="me-2" action="{% url 'complete_task' task.id %}", method="post">
        {% csrf_token %}
        <button class="btn btn-success">Complete Task</button>
    </form>
    <form action="{% url 'delete_task' task.id %}", method="post">
        {% csrf_token %}
        <button class="btn btn-danger">Delete Task</button>
    </form>
    {% endblock %}
</div>
